@font-face {
  font-family: 'your font';
  src: url('../fonts/your-font.eot');
  src: url('../fonts/your-font.eot') format('embedded-opentype'),
  url('../fonts/your-font.woff') format('woff2'),
  url('../fonts/your-font.woff') format('woff'),
  url('../fonts/your-font.ttf') format('truetype'),
  url('../fonts/your-font.svg#2ED58B_1_0') format('svg');
}

